*, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.el-select{
  width: 100%;
}

.el-select-dropdown__list{
  padding: 10px;
}

.content{
  width: 100%;
  text-align: left;
  font-size: 12px;

  &.invert{
    font-weight: 100;
    color: $white-color;
    line-height: 30px;
    // h3, p, li{
    //   color: $white-color;
    // }
  }
  
  h3{
    font-weight: bold;
  }

  ul{
    margin: 20px 0;
    padding-left: 20px;
    list-style: square;

    li{
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}

.el-dialog__wrapper{

  .video-modal{
    @media(max-width: 620px){
      width: 100% !important;
    }
  }
  // width: 1200px !important;
  // height: 400px;
}